@import url('https://fonts.googleapis.com/css?family=Bricolage+Grotesque&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

h1.head-line {
  color: #1E1E1E;
  font-family: 'Bricolage Grotesque';
  font-size: 48px;
  line-height: 1;
}

.equipped-position-0 {
  position: absolute;
  left: 270px;
  top: 260px;
}

.equipped-position-1 {
  position: absolute;
  left: 340px;
  top: 260px;
}

.equipped-position-2 {
  position: absolute;
  left: 410px;
  top: 260px;
}

.equipped-position-3 {
  position: absolute;
  left: 480px;
  top: 260px;
}

.equipped-position-4 {
  position: absolute;
  left: 270px;
  top: 350px;
}

.equipped-position-5 {
  position: absolute;
  left: 340px;
  top: 350px;
}

.equipped-position-6 {
  position: absolute;
  left: 410px;
  top: 350px;
}

.equipped-position-7 {
  position: absolute;
  left: 480px;
  top: 350px;
}

.custom > button {
  background-color: #D33C23
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media screen and (min-width: 769px) {
  body {
    color: rgb(var(--foreground-rgb));
    background: url('/bg.png') no-repeat center center fixed,
                linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    background-size: cover;
  }
}
